/* App.module.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Main {
  flex: 1;
}
.Footer {
  background: #2a6f33;
  padding: 1rem;
  text-align: center;
  color: white;
}
