/* Nav.module.css */

.navList {
  display: flex;
  gap: 2rem;
}

.navLinkItem {
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.navLinkItem:hover {
  text-decoration: underline;
}
